img {
  width:500px;
  border: 5px solid;
  margin:30px;
  
}

a {
 font-size:40px;
 color:red;
}

h1 {
  color: white;
}

.menu a {
  text-decoration: none;
  border: 1px solid white;
  padding: 4px;
  background-color:white;
}

.menu a:hover {
  background-color:black;
}

.menu {
  list-style: none;
  float: right;
 }
body:{
  background-image:url("https://media.tenor.co/images/360f495a4baa4e8e40d6abdd2aa8a50d/raw");
  background-repeat : no-repeat;
  background-size: cover;
}
